@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.footer {
    background-color: $color-grey;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 114px;

    @media screen and (min-width:1080px) {
        flex-direction: row-reverse;
        gap: 5%;
        align-items: end;

        >nav {
            width: 670px;
        }
    }

    &__title {
        color: white;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        font-family: 'Shrikhand', sans-serif;
    }

    &__link {
        color: white;
        font-weight: 500;

        i {
            font-size: 13px;
        }

        &--thin {
            font-weight: 400;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-left: 0;

        @media screen and (min-width:1080px) {
            flex-direction: row;
            gap: 2%;
            white-space: nowrap;

            &>li:nth-child(2) {
                margin-right: 30px;
            }
        }
    }
}