.page-container {
    animation: appear 1s 3s forwards;
    height: 100vh;
    overflow: hidden;
}

.container {
    >*{
        max-width: 1080px;
        margin-inline: auto;
    }
}

@keyframes appear {
    0%{
        opacity: 0;
        height: initial;
        overflow: initial;
    }
    100%{
        opacity: 1;
        height: initial;
        overflow: initial;
    }
}