.loader {
    position: fixed;
    inset: 0;
    background-color: rgba($color-green, 0.9);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    animation: disappear 1s 3s forwards;

    &__container {
        position: relative;
        width: 112px;
        aspect-ratio: 1/1;
        animation: loader-turn 1.5s 2 cubic-bezier(.45, .61, .63, .72);

        >* {
            filter: drop-shadow(0 0 10px rgba(black, 0.2));
        }
    }

    &__circle {
        border: 10px solid $color-white;
        border-radius: 100%;
        position: absolute;
        inset: 0;
        background-color: $color-green;
        animation: dots-turn 3s ease-in-out;
        box-shadow: inset 0 0 5px rgba(black, 0.2);
    }

    &__dot {
        position: absolute;
        aspect-ratio: 1/1;
        border-radius: 100%;
        filter: drop-shadow(0 0 3px rgba(black, 0.2));

        &--one {
            height: 30px;
            background-color: $color-white;
            left: 50%;
            top: 18px;
            transform: translate(-50%, -50%);
            animation: dot-one-move 0.4s infinite;
        }

        &--two {
            height: 40px;
            background-color: $color-green-font;
            left: 27px;
            bottom: 35px;
            transform: translate(-50%, 50%);
            animation: dot-two-move 0.35s infinite;
        }

        &--three {
            height: 35px;
            background-color: $color-pink;
            right: 24px;
            bottom: 40px;
            transform: translate(50%, 50%);
            animation: dot-three-move 0.38s infinite;
        }
    }

    &__handle {
        background-color: $color-white;
        height: 60%;
        width: 15%;
        position: absolute;
        top: 99%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        border-radius: 0 0 50px 50px;

        >* {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-hole {
            height: 20%;
            width: 40%;
            background-color: $color-green;
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%, 50%);
            border-radius: 50px;
            box-shadow: inset 0 0 3px rgba(black, 0.2);
        }
    }
}
