$color-white:white;
$color-primary:#9356DC;
$color-pink:#FF79DA;
$color-green:#99E2D0;
$color-green-font:#008766;
$color-blue:#89C8FA;
$color-dark-blue:#003A68;
$color-background:#F6F6F6;
$color-light-grey:#EAEAEA;
$color-grey:#353535;
$color-grey-4:#7E7E7E;
$gradient-button : linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
